.App {
    section {
        width: 100%;
        height: 92.5vh;
        background-color: rgba(0, 0, 0, 0.46);
        @include flex-center;

        .todolist {
            width: 90%;
            height: 90%;
            background-color: map-get(
                $map: $colors,
                $key: main-yellow-transparent
            );
            border-radius: $border-radius-normal;
            position: relative;

            @include todoForm;

	    &-body{
		@include todoComponent;
	    }
        }
    }
}
