@mixin todoForm {
    &-header {
        width: 100%;
        height: 10%;
        background-color: map-get($map: $colors, $key: main-violet);
        border-radius: $border-radius-normal;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        position: relative;

        @include flex-align-center;

        $width: 80%;
        $incr: 2%;

        &-title {
            width: 100% - $width;
            height: 100%;
            @include flex-center;
            position: relative;

            $pixels: 750px;
            $width2: $width;

            @for $num from 1 to 5 {
                $width2: $width2 - $incr;
                @media screen and (max-width: $pixels) {
                    width: 100% - $width2;
                }
                $pixels: $pixels - 50px;
            }

            &-h2 {
                font-weight: bolder;
                font-size: 1.5em;
                text-align: center;
                text-transform: uppercase;
            }

            &-number {
                $main-color: map-get(
                    $map: $colors,
                    $key: main-red,
                );
                $main-color-transparent: map-get(
                    $map: $colors,
                    $key: main-red-transparent,
                );
                position: relative;
                @include flex-center;
                background-color: $main-color;
                width: 30px;
                height: 30px;
                border-radius: $border-radius-high;
                margin-left: (100% - $width)/2;

                @include pseudo-text(
                    'Todos',
                    $main-color-transparent,
                    -60%,
                    -110%
                );

                &:hover ::after {
                    font-size: 1em !important;
                }

                p {
                    font-weight: bolder;
                    color: white;
                    font-size: 1.2em;
                }
            }
        }

        &-form {
            width: $width;
            height: 100%;
            @include flex-align-center;
            position: relative;

            $pixels: 750px;
            $width2: $width;

            @for $num from 1 to 5 {
                @media screen and (max-width: $pixels) {
                    width: $width2;
                }
                $width2: $width2 - $incr;
                $pixels: $pixels - 50px;
            }

            .input-group {
                width: 90%;

                .input-todoForm {
                    $width: 100%;
                    $pixels: 750px;
                    $font-size: 1.3em;
                    $width2: $width;

                    width: $width;
                    background-color: map-get(
                        $map: $colors,
                        $key: main-blue-dark-transparent
                    );

                    @for $num from 1 to 10 {
                        @media screen and (max-width: $pixels) {
                            font-size: $font-size;
                            width: $width2;
                        }
                        $pixels: $pixels - 50px;
                        $font-size: $font-size - 0.025em;
                    }
                }

                .errors {
                    $pixels: 750px;
                    right: 106% - $width;
                    @for $num from 1 to 10 {
                        $width2: $width - $incr;
                        @media screen and (max-width: $pixels) {
                            right: 106% - $width2;
                        }
                        $pixels: $pixels - 50px;
                    }
                }
            }
            .btn.btn-add {
                position: absolute;
                right: 2%;
            }

            .errors {
                position: absolute;
                right: (100% - $width)/3;
                bottom: -90%;
            }
        }
    }
}
